<h3>Add an Item to your To Do list</h3>
<vue-items></vue-items>
<%= render partial: "vue_templates/items" %>

<%= form_for(@item) do |f| %>
  <%= f.label :date %>
  <%= f.date_field :date %>
  <%= f.label :body %>
  <%= f.text_field :body %>
  <%= f.submit "Just Do It" %>
<% end %>

<h3>Your To Do List</h3>
<% @items.each do |item| %>
<div>
  <%= item.date %>
  <%= item.body %>
  <%= link_to "Edit", edit_item_path(item) %>
  <%= link_to "Delete", item_path(item), method: :delete  %>
</div>
<% end %>

